html *
{
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-size: 12pt;
}

/* navbar-section */

@media screen and (min-width: 1025px){

    .nav-container{
        display: flex;
        justify-content: center;
        background-color: #F1F3FF;
    }

    .navbar{
        width: 90%;
        height: 60px;
    }

    .navbar-collapse{
        display: flex;
        justify-content: right;
    }

    .nav-item{
        margin-right: 30px;
    }

    .nav-register{
        width: 100px;
        text-align: center;
        color: white;
        background-color: #5CB85F;
    }
}

@media screen and (max-width: 1024px){
    .nav-container{
        background-color: #F1F3FF;
    }
}

.navbar-brand{
    height: 40px;
    width: 100px;
    background-color: #0D28A6;
}

/* first-section */

.first-section{
    display: flex;
    justify-content: center;
    background-color: #F1F3FF;
}

.first-section-container{
    width: 90%;
    display: flex;
    flex-direction: row;
    background-color: #F1F3FF;
    padding-top: 20px;
}

.banner{
    margin-top: 50px;
}

.main-description{
    width: 80%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.button-sewa{
    margin-top: 20px;
    width: 150px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #5CB85F;
    color: white;
}

.main-title-1 {
    font-size: 24pt;
    font-weight: 700;
    color: black;
}

.main-title-2 {
    font-size: 24pt;
    font-weight: 700;
    color: black;
}

.car-container{
    transform:translate(-10%,0%);
}

/* Second Sec */

.second-section{
    display: flex;
    flex-direction: row;
    padding-top: 80px;
    padding-bottom: 80px;
}

.second-section-image{
    display: flex;
    justify-content: right;
    padding-right: 80px;
}

.bcr-features-container{
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;
}

.bcr-features{
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Third Section */

.third-section{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.third-section-container{
    width: 88%;
}

.third-section-title{
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 10px;
}

.third-section-description{
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 25px;
}

.row-why-us{
    width: 85%;
    display: flex;
    justify-content: center;
}

.row-why-us > .why-box {
    background-color: white;
    border-radius: 15px 15px 15px 15px;
    border-top: 2px solid #D0D0D0;
    border-bottom: 2px solid #D0D0D0;
    border-left: 2px solid #D0D0D0;
    border-right: 2px solid #D0D0D0;
    padding-top: 15px;
    padding-bottom: 20px;
    margin: 10px;
}

.why_us_images{
    padding-top: 10px;
    padding-bottom: 20px;
}

.why_us_title{
    font-size: 16px;
    font-weight: 700;
}

.why_us_description {
    font-size: 14px;
    font-weight: 400;
}

.col-sm-3{
    padding-left: 2%;
    padding-right: 2%;
}

/* Fourth Section */

.fourth-section-container{
    overflow-x: hidden;
    margin-top: 100px;
}

.title-class{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.testimonial-title{
    font-size: 24px;
    font-weight: 600;
}

.testimonial-description{
    font-size: 14px;
    margin: 10px;
}

.review-slider{
    margin-top: 20px;
    height: 250px;
    width: 150%;
    display: flex;
    flex-direction: row;
    /* transform: translateX(-18%); */
    transform: translateX(calc(100% / (-6)));
}

.review-box{
    max-width: 40%;
    margin-right: 10px;
    margin-left: 10px;
    display: flex;
    flex-direction: row;
    background-color: #F1F3FF;
    border-radius: 10px 10px 10px 10px;
}

.photo-section{
    background-color: transparent;
    padding: 40px;
    display: flex;
    align-items: center;
}

.text-section{
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.stars{
    margin-bottom: 10px;
}

/* Fifth section */

.fifth-section{
    display: flex;
    justify-content: center;
    align-items: center;
}

.fifth-section-container{
    width: 88%;
    text-align: center;
    color: white;
    background-color: #0D28A6;
    margin-top: 100px;
    margin-bottom: 100px;
    border-radius: 15px 15px 15px 15px;
}

.text-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.first-line{
    font-size: 36px;
    font-weight: 600;
    margin-top: 50px;
    margin-bottom: 20px;
}

.second-line{
    width: 50%;
    font-size: 14px;
    font-weight: 400;
}

.button-sewa-mobil{
    background-color: #5CB85F;
    border: 0px;
    width: 160px;
    height: 40px;
    color: white;
    border-radius: 5px 5px 5px 5px;
    margin: 50px;
}

/* Sixth section */

.sixth-section{
    display: flex;
    justify-content: center;
    align-items: center;
}

.sixth-section-container{
    width: 88%;
    text-align: center;
    color: white;
    margin-bottom: 100px;
}

.left-section{
    text-align: left;
    color: black
}

.left-section-title{
    font-size: 24px;
    font-weight: 600;
    color: black
}

.left-section-description{
    font-size: 16px;
    font-weight: 400;
    margin-top: 20px;
    color: black
}

.right-section-collapse{
    display: flex;
    flex-direction: column;
}

.faq-collapse{
    border: 0px;
    width: 100%;
    height: 50px;
    border: 2px solid #D4D4D4;
    background-color: white;
    text-align: left;
    padding-left: 20px;
    margin-bottom: 20px;
}

.faq-answers{
    color: black;
    text-align: left;
    padding-left: 20px;
    margin-bottom: 20px;
}

/* footer */

.footer-section{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.footer-section-container{
    width: 88%;
}

.blue-box{
    height: 35px;
    width: 110px;
    margin-top: 10px;
    background-color: #0D28A6;
}

